.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0bbdb4;
  padding: 0 20px;
  box-shadow: 0 2px 8px;
  height: 80px;
  color: white;

  overflow-x: hidden;
}

.logo img {
  height: 60px;
  max-height: 100%;
  object-fit: contain;
}

.logo img:hover{
    cursor: pointer;
    transform: scale(1.05);

}
.center-menu {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  border-bottom: none;
  background-color: #0bbdb4;
}

.menu-item{
    color: white !important;
    font-weight: bold;
    font-size: 16px;
    margin: 0 15px;
}

.menu-item:hover{
    color: blue !important;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.connect-button {
  margin-left: auto;
}


