.navbar-container {
  position: fixed;       /* reste toujours visible */
  top: 0;
  left: 0;
  width: 100%;
  padding-left:20px;
  padding-right:20px;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #0bbdb4;
  padding: 0 20px;
  height: 80px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: white;
}


.navbar-container .menu-item {
  color: white !important;
}

.logo img {
  height: 60px;
  max-height: 100%;
  object-fit: contain;
}

.logo img:hover{
    cursor: pointer;
    transform: scale(1.05);

}
.center-menu {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  border-bottom: none;
  background-color: #0bbdb4;
}

.ant-menu-item, .ant-menu-submenu-title {
    color: white!important;
    font-weight: bold;
    font-size: 16px;
}

.ant-menu-item:hover, .ant-menu-submenu-title:hover {
    transform: scale(1.05);
}

.ant-btn-primary{
  background-color: #187b73;
}

.ant-btn-primary:hover {
  background-color: white!important;
  color: #187b73!important;
  border-color: #187b73!important;
}

.ant-menu-sub {
  background-color: #0bbdb4!important;
}